In [2]:
from itertools import combinations
import pandas as pd
import numpy as np

In [34]:
trans=pd.read_csv('output.csv')
trans

    c1   c2   c3   c4
0    a    b    c  NaN
1  NaN    b    c  NaN
2    a  NaN  NaN    d
3  NaN    b    c    d
4    a  NaN    c    d
5    a  NaN    c  NaN
6    a    b    c    d
7  NaN    b    c  NaN
8    a    b  NaN  NaN
9  NaN  NaN  NaN    d

In [50]:
support=0.01
minlen=1

In [92]:
ts = pd.get_dummies(trans.unstack().dropna()).groupby(level=1).sum()

In [93]:
colen,rowlen = ts.shape

In [97]:
pattern = []
for cnum in range(minlen, rowlen+1):
    for cols in combinations(ts, cnum):
        patsup = ts[list(cols)].all(axis=1).sum()
        patsup = float(patsup)/colen
        pattern.append([",".join(cols), patsup])
sdf = pd.DataFrame(pattern, columns=["Pattern","Support"])
result = sdf[sdf.Support>=support]

In [98]:
result

    Pattern  Support
0         a      0.6
1         b      0.6
2         c      0.7
3         d      0.5
4       a,b      0.3
5       a,c      0.4
6       a,d      0.3
7       b,c      0.5
8       b,d      0.2
9       c,d      0.3
10    a,b,c      0.2
11    a,b,d      0.1
12    a,c,d      0.2
13    b,c,d      0.2
14  a,b,c,d      0.1